# Database Configuration
DB_HOST=217.196.101.222
DB_PORT=5432
DB_NAME=autodeploy_db
DB_USER=slon
DB_PASSWORD=jojo2402

# Django Configuration
SECRET_KEY=django-insecure-_b=^4%h6#1p31s1j!g7j7$!46neao8ue$vg8&tt!8d+1ci0!gz
DEBUG=True
ALLOWED_HOSTS=83.217.220.94,localhost,127.0.0.1,5141353-cf45690,217.196.101.222 